body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(236, 236, 236);
    font-weight: 600;
    }


#userList{
    display: none;
}

#logoutButton{
    height: 22px;
    width: 135px;
    align-items: right;
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(197, 197, 197, 0.847);
    border: rgba(197, 197, 197, 0.847);
    /* padding: 12px 18px; */
    border-radius: 6px;
}

.logout{
    display: flex;
    justify-content: right;
}

    #message,
    #loginMessage,
    #searchmessage {
      display: none;
      color: red;
      text-align: center;
      transition: 0.5s ease-in-out;
    }
    
    #loginMessage {
      display: block;
      visibility: hidden;
    }
    
    #searchmessage {
      margin-top: 20px;
      font-size: 1.5rem;
    }
    
    #loginMessage {
      margin-top: 50px;
    }
    
    #home {
   
      display: flex;
      padding-top: 305px;
      justify-content: space-around;
      align-items: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #home button {
      padding: 35px 50px;
      font-size: 30px;
      background-color: #40189d;
      color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 15px;
      border: 0;
      margin: 30px;
    }
    
    #home div {
      font-size: 25px;
      text-align: center;
      margin: 55px;
    }
    
    #loginContainer,
    #signupContainer,
    #addUserContainer,
    #updateUserContainer,
    #adminFormContainer {
      display: none;
      width: 30%;
      padding: 40px;
      font-size: 1.1rem;
      box-shadow: 0 0 10px 10px #eaeaf0;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s ease-in-out;
    }
    
    #admin {
      cursor: pointer;
    }
    
    #addUserContainer,
    #updateUserContainer,
    #adminFormContainer {
      background-color: white;
      z-index: 100;
    }
    
    #login > div,
    #signup > div,
    #addUser > div,
    #updateUser > div,
    #adminForm > div {
      margin-bottom: 1rem;
    }
    
    #login > div:first-child,
    #signup > div:first-child,
    #addUser > div:first-child,
    #updateUser > div:first-child,
    #adminForm > div:first-child {
      /* text-align: right; */
      color: #40189d;
      cursor: pointer;
      font-size: 1.3rem;
    }
    
    #login label,
    #signup label,
    #addUser label,
    #updateUser label,
    #adminForm label {
      display: block;
      margin-bottom: 5px;
      padding: 0 8px;
    }
    
    .signuperror,
    .loginerror,
    .addUserError {
      color: red;
      font-size: 0.8rem;
      margin-top: 2px;
      padding: 0 8px;
      visibility: hidden;
    }
    
    #signup label:last-child,
    #addUser label:last-child {
      margin-bottom: 0;
    }
    
    #login > div:last-child {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    
    .imageUpload {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #40189d;
      padding: 8px !important;
      cursor: pointer;
      color: #40189d;
      margin-bottom: 0 !important;
    }
    
    .imageUpload i {
      margin-right: 10px;
    }
    
    #loginButton{
        width: 100px;
        background-color: #40189d;
        color: white;
        font-weight: 600;
    }
    





    #signupButton,
    #previousPageButton,
    #nextPageButton,
    #updateAdminSubmitButton     
    #home button,
    #updateAdminSubmitButton {
      width: auto;
      padding: 8px 16px;
      background-color: #40189d;
      color: white;
      cursor: pointer;
    }
    
    /* #signupButton,
    #addUserSubmitButton,
    #updateUserSubmitButton,
    #updateAdminSubmitButton {
      width: 100%;
    } */
    
    #forgetPasswordLink {
      color: #40189d;
    }

    #pagination {
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    
    #pagination button {
    width: auto;
    margin: 0 10px;
    }
    
    #pagination button:disabled:hover {
    cursor: not-allowed;
    }
      







.sidebar {
    top: 0;
    margin: 0;
    padding-top: 70px;
    width: 220px;
    background-color: rgb(68, 21, 155);
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    margin-top: 15px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: rgb(236, 236, 236);
    color: rgb(68, 21, 155);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 20px;
    padding-left: 0px;
}

.sidebar a:hover:not(.active) {
    background-color: rgb(236, 236, 236);
    color: rgb(68, 21, 155);
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

div a i{
    padding-left: 29px;
    padding-right: 20px;
    font-size: 22px;
}

@media screen and (max-width: 700px) {
    .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 25px 0px;
    }

    .sidebar a {
        float: center;
    }

    div.content {
        margin-left: 0;
    }

    .container{
        margin: 15px !important;
    }
    .scroll{
        padding: 12px !important;
        height: 525px !important;
    }
    .addAgencyHeading{
        padding: 15px !important;
        font-size: 22px !important;
    }
    .addAgencyFooter{
        padding: 5px !important;
    }
    .addAgencyFooter button{
        font-size: 12px !important;
    }

    .userImg img{
        width: 100px !important;
        height: 100px !important;
    }
    
    .userFooter{
        padding: 5px;
    }
    
    .userFooter button{
        font-size: 12px !important;
        margin: 5px !important;
    }
}

@media screen and (max-width: 400px) {
    .sidebar{
        padding: 15px 0;
    }
    .sidebar a {
    /* text-align: center; */
    float: center;
    padding: 5px;
    margin: 5px;
    }
    .table{
        border-collapse: collapse;
    }
    .user{
        justify-content: center !important;
    }
    .scroll{
        padding: 8px !important;
        height: 540px !important;
    }
    .addAgencyHeading{
        padding: 15px !important;
        font-size: 20px !important;
    }
    .addAgencyFooter{
        justify-content: center !important;
        padding: 5px !important;
    }
    .addAgencyFooter button{
        font-size: 12px !important;
    }
    .userImg img{
        width: 75px !important;
        height: 75px !important;
    }
    
    .userFooter{
        justify-content: center !important;
        padding: 2px !important;
    }
    
    .userFooter button{
        
        font-size: 12px !important;
        margin: 5px !important;
    }
}

@media (min-width: 700px) and (max-width: 1200px){
    .scroll{
        height: 500px !important;
    }
    .addAgencyFooter{
        padding: 8px !important;
    }
}

.container{
    margin: 25px 25px 25px 250px;
    border-top-left-radius: 95px;
}

.user{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 25px;
    word-wrap: break-word;
}

.img-circle{
    border-radius: 50%;
    width: auto;
    height: 55px;
    margin: 2px;
}

.username{
    padding-top: 10px;
}

.section{
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    overflow-x: auto;
}

.tableFlexDiv{
    display: flex;
    justify-content: space-between;
}

#searchCountry{
    min-width: 5px;
}

table{
    width: 100%;
    text-align: left;
    margin-top: 40px;
}

table th{
    color: rgb(120, 77, 201);
}

tr, td{
    padding: 10px;
}

tr, td{
    border-top: 1px solid rgb(236, 233, 233);
    font-weight: 500;
}

#tableData tr td{
    padding: 15px !important;
}

.section button{
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(197, 197, 197, 0.847);
    border: rgba(197, 197, 197, 0.847);
    padding: 12px 18px;
    border-radius: 10px;
}

.scroll{
    height: 435px;
    overflow-y: scroll;
    padding: 30px 30px 10px 30px;
}

hr{
    margin: 0;
    padding: 0;
}


/* -------------- MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 50%;
  height: 65%;
  border-radius: 10px;
}

/* The Close Button */
.close {
    padding: 3px 8px 0px 0px;
    color: rgb(68, 21, 155);
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}

.addAgencyHeading
{
    padding: 20px;
    font-size: 25px;
    padding-bottom: 15px;
}

input{
    min-width: 95%;
    height: 38px;
    border: 1px solid rgb(68, 21, 155);
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 3px;
}

.scroll div{
    padding-bottom: 10px;
}

.addAgencyFooter{
    display: flex;
    justify-content: right;
    padding: 10px;

}

.addAgencyFooter button{
    font-size: 18px;
    margin: 5px;
}

#purpleBtn{
    background-color: rgb(68, 21, 155);
    color: white;
}

#updatePurpleBtn{
    background-color: rgb(68, 21, 155) !important;
    color: white;
}

#addUserSubmitButton{
    background-color: rgb(68, 21, 155);
    color: white;
}

.addUserError {
    color: red;
    font-size: 0.8rem;
    margin-top: 2px;
    padding: 0 8px;
    visibility: hidden;
}

#message{
    display: none;
    color: red;
    text-align: center;
    transition: 0.5s ease-in-out;
}










.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 50%;
    height: 65%;
    border-radius: 10px;
}

/* The Close Button */
.close2 {
    padding: 3px 8px 0px 0px;
    color: rgb(68, 21, 155);
    float: right;
    font-size: 28px;
}

.close2:hover,
.close2:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}


.userImg{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding: 0;
    margin: 0;
}

.userImg img{
    width: 150px;
    height: 150px;
    border: 8px solid rgb(68, 21, 155);
    border-radius: 50%;
}

.userFooter{
    display: flex;
    justify-content: right;
    padding: 10px;
}

.userFooter button{
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    background-color: rgba(197, 197, 197, 0.847);
    border: rgba(197, 197, 197, 0.847);
    padding: 12px 18px;
    border-radius: 10px;
}



















.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content3 {
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 50%;
    height: 65%;
    border-radius: 10px;
}

/* The Close Button */
.close3 {
    padding: 3px 8px 0px 0px;
    color: rgb(68, 21, 155);
    float: right;
    font-size: 28px;
}

.close3:hover,
.close3:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}


.userImg{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding: 0;
    margin: 0;
}

.userImg img{
    width: 150px;
    height: 150px;
    border: 8px solid rgb(68, 21, 155);
    border-radius: 50%;
}

.userFooter{
    display: flex;
    justify-content: right;
    padding: 10px;
}

.userFooter button{
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    border: rgba(197, 197, 197, 0.847);
    padding: 12px 18px;
    border-radius: 10px;
}

